exportPattern("^[[:alpha:]]+")
import(sp)
import(raster)
import(caret)
importFrom(utils,"txtProgressBar","setTxtProgressBar","read.csv","unzip")
import(rasterVis)
importFrom(stats, "as.formula", "fitted", "sd")
importFrom(randomForest,"randomForest")
importFrom(arm, "bayesglm")
importFrom(kernlab, "ksvm")
importFrom(e1071, "svm")
importFrom(Cubist,"cubist")
importFrom(rpart, "rpart")
importFrom(ranger, "ranger")
import(qrnn)
import(quantregForest)
importFrom(nnet,"nnet")
